html, body{
	padding: 0;
	font-family: "Maven Pro", sans-serif;
	font-size: 1em;
}


.container{
	width: 700px;
	height: 550px;
	margin: 35px auto;
	border: 2px solid black;
}

.header{
	text-align: left;
	margin:0 auto;
	height: 130px;
	border-bottom: 2px solid black;
	position: relative;
	padding-bottom: 25px;
}

.face_wrapper{
	display: inline-block;
	border: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 15px;
}

.face_wrapper img{
	height: 120px;
}

.logo_wrapper{
	position: absolute;
	top: 0;
	left: 175px;
	width: 500px;
	margin: 15px;
	display: inline-block;
	text-align: center;
	top: 0;
}

.logo_wrapper img{
	height: 50px;
}

.logo_wrapper p{
	margin: 0 auto;
	font-size: 3em;
	font-weight: bold;
}

input[type="radio"]{
	margin: 0 25px 0 5px;
}

.input_form{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 15px;
}

.input_cell{
	width: 20%;
	margin: 15px;
}



hr{
	width: 85%;
}

.output{
	position: absolute;
	top: 200px;
	width:560px;
	margin-left: 50px;
	padding: 25px;
	text-align: justify;
}

button{
	margin-left: 400px;
	font-size: 1.2rem;
	background-color: white;
	font-family: "Maven Pro", sans-serif;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #bbb;

}

.input_form, .output{
	max-height: 500px;
	transition: 1s linear all;
}


.input_form.ng-hide,
.output.ng-hide{
	opacity: 0;
	max-height: 0px;
}